$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#2067B1; // #304156;
$subMenuBg:#2162A6; // #1f2d3d;
$menuHover:#1D548E; // #001528;
